<h3>{{title}}</h3>
<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
    <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a>
    <a [routerLink]="['/employee']" [routerLinkActive]="['active']">Empleado</a>
    <a [routerLink]="['/person']" [routerLinkActive]="['active']">Persona</a>
    <a [routerLink]="['/car']" [routerLinkActive]="['active']">Car</a>
    <a [routerLink]="['/template']" [routerLinkActive]="['active']">Template</a>
</nav>
<router-outlet></router-outlet>
<!--<myEmployee></myEmployee>
<myPerson></myPerson>-->