<h2>{{title}}</h2>
<hr />
{{todayDate | date:'yyyy/MM/dd'}}
{{todayDate | date:'fullDate' | uppercase}}
{{title | lowercase}} - {{title | uppercase}}
<div>
    {{5 | converter:7 }}
</div>
<hr />
<h3>Listado de prendas</h3>
<input type="text" [(ngModel)]="insertClothing"/>
<button type="button" (click)="addClothing();">Añadir prenda</button>
<p *ngIf="insertClothing">La prenda a guardar es: <strong>{{insertClothing |json}}</strong></p>
<ul>
    <li *ngFor="let clothing of listClothing let i = index">
        {{clothing}}<button type="button" (click)="deleteClothing(i)">Eliminar Prenda</button>
    </li>
</ul>